<h1>Gospel Trend</h1>

<ul>
<% @category.each do |cat| %>
  <li> <%= link_to cat.name %></li>
<% end %>
<% @tag.each do |tag| %>
  <% unless tag.name === "normal" %>
    <li><%= link_to tag.name %></li>
  <% end %>
<% end %>
</ul>
<h2> Feature  Products </h2>
<div class="prod_index_container">
<%= image_tag(@fearured_product1.image.url) %>

</div>
<div class="prod_index_container">
<%= image_tag(@fearured_product2.image.url) %>

</div>
<div class="prod_index_container">
<%= image_tag(@fearured_product3.image.url) %>

</div>
  


