<h1>Gospel Trend</h1>

<ul>
  <% @category.each do |cat| %>
    <li> <%= link_to cat.name, cat %></li>
  <% end %>
  <% @tag.each do |tag| %>
    <% unless tag.name === "normal" %>
      <li><%= link_to tag.name, tag %></li>   
    <% end %>
  <% end %>

</ul>
<h2> Feature  Products </h2>
<div class="prod_index_container">
<%= image_tag(@fearured_product1.image.url) %> <br/>
<%= link_to @fearured_product1.title, @fearured_product1 %>

</div>
<div class="prod_index_container">
<%= image_tag(@fearured_product2.image.url) %><br/>
<%= link_to @fearured_product2.title, @fearured_product2 %>

</div>
<div class="prod_index_container">
<%= image_tag(@fearured_product3.image.url) %><br/>
<%= link_to @fearured_product3.title, @fearured_product3%>

</div>
  


